@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.label {
    background-color: #FFF;
    width: 39px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}