@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dashbord-style {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.board {
    min-height: 933px;
    display: flex;
    flex-direction: row;
}



.a {
    width: calc(100% - 117px);
    min-width: 907px;
    min-height: 933px;
    display: flex;
    flex-direction: column;
}

.b {
    width: 100%;
    height: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    text-align: left;

}


.welcome-user {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 109px;
}

.user-firstname {
    color: #FF0101;
    margin-left: 10px;
}

.congratulation-message {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 41px;
    margin-left: 109px;

}

.c {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.d {
    width: 70%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.e {
    width: 30%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.daily-activity {
    height: 320px;
    background-color: aquamarine;
}

.f {
    height: 263px;
    display: flex;
    flex-direction: row;
    background-color: azure;
    margin-top: 56.89px;
}