@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.dashboard-style {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 780px;
    height: 100vh;
}

.board {
    min-height: 689px;
    height: calc(100vh - 91px);
    display: flex;
    flex-direction: row;
}



.dashboard-container {
    width: calc(100% - 117px);
    min-width: 907px;
    min-height: 689px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.user-info-container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    text-align: left;
    height: 157px;

}


.welcome-user {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.user-firstname {
    color: #FF0101;
    margin-left: 10px;
}

.congratulation-message {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 41px;

}

.graph-kpi-container {
    width: 100%;
    height: calc(100% - 157px);
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    padding-bottom: 5%;
}

.graph-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.info-cards-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.daily-activity {
    height: 48%;
    background-color: #FBFBFB;
    width: 95%;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    padding-bottom: 25px;


}

.title-daily-activity {
    position: absolute;
    top: 20px;
    left: 20px;
}

.graph-small-container {
    height: 43%;
    max-height: 263px;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.session {
    width: 30%;
    height: 100%;
    background-color: #FF0000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 0.2%;
    padding-right: 0.2%;
    min-width: 210px;
}

.title-daily-session {
    position: absolute;
    bottom: 31%;
    left: 27px;
    font-size: 15px;
    color: #FFF;
    opacity: 0.5;
    font-weight: 500;
    line-height: 1.4;
    width: 20%;
    text-align: start;
}

.performance {
    width: 30%;
    min-width: 210px;
    height: 100%;
    background-color: #282D30;
    border-radius: 5px;
}

.completion {
    width: 30%;
    min-width: 210px;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.title-completion {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 10px;
    top: 10px;
}